apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
data:
  connection-string: "SG9zdD1yYzFiLXM4OGgyMmFtMzZoMHMxYmYubWRiLnlhbmRleGNsb3VkLm5ldDtQb3J0PTY0MzI7RGF0YWJhc2U9aW1hZ2VfZ2FsbGVyeTtVc2VybmFtZT1nYWxsZXJ5X3VzZXI7UGFzc3dvcmQ9MjIxNjY0OUliO1NzbCBNb2RlPVJlcXVpcmU7VGltZW91dD0xMjA7Q29tbWFuZCBUaW1lb3V0PTEyMDs="